<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>CVE List</h1>
    <table>
        <thead>
            <tr>
                <th>CVE ID</th>
                <th>Published Date</th>
                <th>Last Modified</th>
                <th>Status</th>
                <th>Base Score (v2)</th>
                
            </tr>
        </thead>
        <tbody>
            {% for cve in cves.items %}
            <tr onclick="window.location='/cves/{{ cve.id }}'">
                <td>{{ cve.id }}</td>
                <td>{{ cve.published.strftime('%Y-%m-%d') }}</td>
                <td>{{ cve.last_modified.strftime('%Y-%m-%d') }}</td>
                <td>{{ cve.status }}</td>
                <td>{{ cve.base_score_v2 }}</td>
              
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="pagination">
        {% if cves.has_prev %}
        <a href="{{ url_for('list_cves', page=cves.prev_num, per_page=cves.per_page) }}">Previous</a>
        {% endif %}
        {% if cves.has_next %}
        <a href="{{ url_for('list_cves', page=cves.next_num, per_page=cves.per_page) }}">Next</a>
        {% endif %}
    </div>

    <div class="sorting-bar">
        <label for="sort-by">Sort by:</label>
        <select id="sort-by" onchange="sortTable(this.value)">
            <option value="published" {% if current_sort == 'published' %}selected{% endif %}>Published Date</option>
            <option value="last_modified" {% if current_sort == 'last_modified' %}selected{% endif %}>Last Modified</option>
            <option value="status" {% if current_sort == 'status' %}selected{% endif %}>Status</option>
            <option value="base_score_v2" {% if current_sort == 'base_score_v2' %}selected{% endif %}>CVSS v2 Score</option>
            
        </select>
    </div>

    <!-- Results Per Page -->
    <div class="results-per-page">
        Results per page:
        <select onchange="window.location.href = '?per_page=' + this.value">
            <option value="10" {% if cves.per_page == 10 %}selected{% endif %}>10</option>
            <option value="50" {% if cves.per_page == 50 %}selected{% endif %}>50</option>
            <option value="100" {% if cves.per_page == 100 %}selected{% endif %}>100</option>
        </select>
    </div>

    <script>
        function sortTable(sortBy) {
            window.location.href = `?sort_by=${sortBy}`;
        }
    </script>
</body>
</html>
